<h1 class="title">Edit  Service</h1>
<form [formGroup]="facilityForm" (ngSubmit)="editFacility()" *ngIf="facilityForm">
  <div>
    <div class="form-group">
      <label for="nameFacility">Name Facility</label>
      <input type="text" class="form-control" id="nameFacility" formControlName="name" required>
    </div>
    <div class="form-group">
      <label for="area">Area</label>
      <input type="text" class="form-control" id="area" formControlName="area" required>
    </div>
    <div class="form-group">
      <label for="cost">Cost</label>
      <input type="text" class="form-control" id="cost" formControlName="cost" required>
    </div>
    <div class="form-group">
      <label for="maxPeople">Max People</label>
      <input type="text" class="form-control" id="maxPeople" formControlName="maxPeople" required>
    </div>
    <div class="form-group">
      <label for="maxPeople">Image</label>
      <input type="text" class="form-control" id="image" formControlName="image" required>
    </div>
    <div class="form-group">
      <label>Rent Type</label>
      <select class="form-select" formControlName="rentType">
        <option *ngFor="let temp of rentTypeList" [ngValue]="temp">{{temp.name}}</option>
      </select>
    </div>
    <div class="form-field col-lg-6">
      <label>Facility Type</label>
      <select id="choiceFacilityType" class="form-select" (change)="selectFacility()" formControlName="facilityType">
        <option *ngFor="let fac of facilityType" value="{{fac.id}}">{{fac.name}}</option>
      </select>
    </div>
    <div class="form-group" id="standardRoom" formControlName="standardRoom" style="display: none">
      <input class="input-text js-input" type="text">
      <label class="label" for="standardRoom">Standard Room</label>
    </div>
    <div class="form-field col-lg-6 " id="poolArea" formControlName="poolArea" style="display: none">
      <input class="input-text js-input" type="text">
      <label class="label" for="poolArea">Pool Area</label>
    </div>
    <div class="form-field col-lg-6 " id="descriptionConvenience" formControlName="descriptionOther" style="display: none">
      <input class="input-text js-input" type="text">
      <label class="label" for="descriptionConvenience">Description Other</label>
    </div>
    <div class="form-field col-lg-6" id="numberOfFloor" formControlName="numberFloor" style="display: none">
      <input class="input-text js-input" type="text">
      <label class="label" for="numberOfFloor">Number Of Floors</label>
    </div>
    <div class="form-field col-lg-6" id="facilityFree"  style="display: none">
      <input class="input-text js-input" type="text">
      <label class="label" for="facilityFree" formControlName="facilityFree">Facility Free</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" href="" routerLink="/list/facility">Back</a>
  </div>
</form>
