<h1 class="title">Edit Service</h1>
<div class=" container-fluid">
  <form>
    <div class="form-group">
      <label for="nameFacility">Id</label>
      <input type="text" class="form-control" id="id" readonly>
    </div>
    <div class="form-group">
      <label for="nameFacility">Name Facility</label>
      <input type="text" class="form-control" id="nameFacility" required>
    </div>
    <div class="form-group">
      <label for="area">Area</label>
      <input type="text" class="form-control" id="area"  required>
    </div>
    <div class="form-group">
      <label for="cost">Cost</label>
      <input type="text" class="form-control" id="cost" required>
    </div>
    <div class="form-group">
      <label for="maxPeople">Max People</label>
      <input type="text" class="form-control" id="maxPeople" required>
    </div>
    <div class="form-group">
      <select class="form-select">
        <option value="">Rent Type List</option>
        <option value="">Ngày</option>
        <option value="">Giờ</option>
        <option value="">Phút</option>
      </select>
    </div>
    <div class="form-group">
      <select id="choiceFacilityType" class="form-select" onchange="selectFacility()">
        <option value="">Facility List</option>
        <option value="1">Villa</option>
        <option value="2">Room</option>
        <option value="3">House</option>
      </select>
    </div>
    <div class="form-group" id="standardRoom" style="display: none">
      <input class="input-text js-input" type="text" >
      <label class="label" for="standardRoom">Standard Room</label>
    </div>
    <div class="form-field col-lg-6 " id="poolArea" style="display: none">
      <input class="input-text js-input" type="text" >
      <label class="label" for="poolArea">Pool Area</label>
    </div>
    <div class="form-field col-lg-6 " id="descriptionConvenience" style="display: none">
      <input class="input-text js-input" type="text">
      <label class="label" for="descriptionConvenience">Description Other</label>
    </div>
    <div class="form-field col-lg-6" id="numberOfFloor" style="display: none">
      <input class="input-text js-input" type="text" >
      <label class="label" for="numberOfFloor">Number Of Floors</label>
    </div>
    <div class="form-field col-lg-6" id="facilityFree" style="display: none">
      <input class="input-text js-input" type="text">
      <label class="label" for="facilityFree">Facility Free</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" routerLink="/list/facility">Back</a>
  </form>
</div>



