<div class="container">
  <div class="row">
  </div>
  <br>
  <br>
  <div class="row">
    <h2 class="text-center my-5">Create customer</h2>
    <form [formGroup]="createCustomer" *ngFor="createCustomer" (ngSubmit)="createCustomer()">
      <div class="container">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><label>Name</label></th>
            <td><input class="form-control" type="text" ></td>
          </tr>
          <tr>
            <th><label>Day of birth</label></th>
            <td><input class="form-control" type="date"></td>
          </tr>
          <tr>
            <th><label>Gender</label></th>
            <td><select class="form-select">
              <option value="1">Nam</option>
              <option value="0">Nữ</option>
              <option value="2">Other</option>
            </select></td>
          </tr>
          <tr>
            <th><label>Id card</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Number phone</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Email</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Address</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Customer type</label></th>
            <td><select class="form-select" >
              <option value="">-- Choose Customer Type</option>
              <option>Diamond</option>
              <option>Platinum</option>
              <option>Gold</option>
              <option>Silver</option>
              <option>Member</option>
            </select></td>
          </tr>
          <tr>
            <td>
              <input class="btn btn-success" type="submit" value="Save">
              <a class="btn btn-secondary" routerLink="/list/customer">Back</a>
            </td>
          </tr>
          </thead>
        </table>
      </div>
    </form>
  </div>
  <br>
  <br>
  <div class="row">
  </div>
</div>
