<div class="container">

  <h1 class="text-center"> Login </h1>
  <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
    <div>
      <label>Email</label>
      <input name="email" type="email" class="form-control" formControlName="email">
      <small style="color: red" *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.touched">
        Nhập vô đi đừng có nhác.
      </small>
      <small style="color: red" *ngIf="loginForm.controls.email.hasError('email') && loginForm.controls.email.touched">
        Email ko đúng định dạng
      </small>
      <small style="color: red" *ngIf="loginForm.controls.email.hasError('minlength') && loginForm.controls.email.touched">
        Email is minlength = 6
      </small>
    </div>

    <div>
      <label>Password</label>
      <input name="password" type="password" required min="6" class="form-control" formControlName="password">
      <small style="color: red" *ngIf="loginForm.controls.password.hasError('minlength') && loginForm.controls.password.dirty ">
        Password need more than 6 letter
      </small>
    </div>

    <button type="submit"> LOGIN </button>
  </form>
  <h3>{{message}}</h3>
</div>
