.total-header{
    display: flex;
}
.header-left{
    width: 20%;
}
.icon-facebook{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-bottom: 30px;
}
.header-middle{
    width: 60%;
    text-align: center;
    padding:5px;
    margin: 5px;
    justify-content: space-between;

}
.icon-home{
    width: 40px;
    height: 40px;

}
.icon-video{
    width: 40px;
    height: 40px;
}
.icon-market{
    width: 40px;
    height: 40px;
}
.icon-game{
    width: 40px;
    height: 40px;
}

.header-right{
    width: 20%;

}
.picture-avata{
    width: 40px;
    height: 40px;
}
.float-right{
    display: flex;
}
.icon-plus{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.icon-messenger{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}
.icon-bell{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}
.icon-triangle{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

.border-left{
    width: 20%;
    padding:20px;
}

.img-ava{
    width: 40px;
    height: 40px;
}
.icon-friend{
    width: 40px;
    height: 40px;
}
.icon-group{
    width: 40px;
    height: 40px;
}
.icon-market2{
    width: 40px;
    height: 40px;
}
.icon-memo{
    width: 40px;
    height: 40px;
}
