<div class="form-field col-lg-6">
  <input class="input-text js-input" id="numberOfFloorEdit" [value]="facility.numberFloor" (change)="getValue()" type="text">
  <label class="label" for="numberOfFloorEdit">Number Of Floors</label>
</div>
<div class="form-group" >
  <input class="input-text js-input" id="standardRoomEdit" [value]="facility.standardRoom" (change)="getValue()" type="text">
  <label class="label" for="standardRoomEdit">Standard Room</label>
</div>
<div class="form-field col-lg-6">
  <input class="input-text js-input" id="descriptionConvenienceEdit" [value]="facility.descriptionOther" (change)="getValue()" type="text">
  <label class="label" for="descriptionConvenienceEdit">Description Other</label>
</div>
