<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Detail</title>
</head>
<body>

<table th:border="1">
    <tr>
        <td>Mã sản phẩm</td>
        <td th:text="${products.getId()}"></td>
    </tr>
    <tr>
        <td>Tên sản phẩm</td>
        <td th:text="${products.getNameProduct()}"></td>
    </tr>
    <tr>
        <td>Giá</td>
        <td th:text="${products.getPrice()}"></td>
    </tr>
    <tr>
        <td>Mô tả</td>
        <td th:text="${products.getDescribe()}"></td>
    </tr>
    <tr>
        <td>Nhà sản xuất</td>
        <td th:text="${products.getHostProduct()}"></td>
    </tr>
</table>
<a th:href="@{/product}">back home page</a>
</body>
</html>