*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.col-1 {
    width: 8.33%
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3%
}

.col-5 {
    width: 41.66%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;

}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
.row{


}
[class*=col-] {
    float: left;
}
.link{
    text-align: center;
    padding-left: 20px;
}
.hover:hover{
    background-color: black;
}
.col-12-1 {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}
.col-12-1{
    padding:15px;
}
.ads{
    width: 200px;
    height: 100px;
    background-color: #f8f5f5;
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
}
.col-12-2 {

    background-color: #3a3535;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color: white;
}
.link{
    color: blue;
}
.welcome{
    padding: 10px;
    margin: 30px;
}
.left{
    height: 800px;
    background-color: lightgrey;
}
.right{
    height: 800px;
    background-color: lightgrey;
}