<div class="container-fluid" style="height: 500px;">
  <div class="container-fluid mt-3" style="overflow: auto">
    <a routerLink="/create/customer">Create</a>
    <table id="tableCustomer" class="table table-warning table-bordered" style="font-size: 12px; width: 100%">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name Customer</th>
        <th>Day of birth</th>
        <th>Gender</th>
        <th>Id Card</th>
        <th>Number Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Customer Type</th>
        <th>Option</th>
        <th>Option</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let temp of customerList">
        <td>{{temp.id}}</td>
        <td>{{temp.name}}</td>
        <td>{{temp.dateOfBirth}}</td>
        <td>{{temp.gender}}</td>
        <td>{{temp.idCard}}</td>
        <td>{{temp.phoneNumber}}</td>
        <td>{{temp.email}}</td>
        <td>{{temp.address}}</td>
        <td>{{temp.customerType.nameCustomerType}}</td>

        <td>
          <a routerLink="/edit/customer">
            <button type="submit" class="btn btn-warning">Edit</button>
          </a>
        </td>
        <td>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#staticBackdropDelete${temp.idCustomer}">Delete
          </button>
        </td>

        <div class="modal fade" id="staticBackdropDelete{{temp.id}}}" data-bs-backdrop="static"
             data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelAddNew">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="alert alert-warning">
                  Do you want delete users {{temp.name}}
                </div>
                <a class="btn btn-success">Submit</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/list/customer">Close
                </button>
              </div>
              <div class="modal-footer"></div>
            </div>
          </div>
        </div>
      </tr>
      </tbody>
    </table>
  </div>
</div>

