<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="~{style-css :: bootstrapCss}"></head>-->
<!--<header th:replace="~{style :: bootstrapHeaderBody}"></header>-->

<body>


<section class="get-in-touch">
    <h1 class="title">Create Service</h1>
    <form class="contact-form row" action="/facility/create" method="post" th:object="${facilityList}">
        <div class="form-field col-lg-6">
            <input id="name" class="input-text js-input" type="text" th:field="*{nameFacility}" required>
            <label class="label" for="name">Name</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="area" class="input-text js-input" type="text" th:field="*{area}" required>
            <label class="label" for="area">Area</label>
        </div>

        <div class="form-field col-lg-6 ">
            <input id="cost" class="input-text js-input" type="text" th:field="*{cost}" required>
            <label class="label" for="cost">Cost</label>
        </div>
        <div class="form-field col-lg-6 ">
            <input id="maxPerson" class="input-text js-input" type="text" th:field="*{maxPeople}" required>
            <label class="label" for="maxPerson">Max Person</label>
        </div>
        <!--        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

        <div class="form-field col-lg-6">
            <select class="form-select" th:field="*{rentType}">
                <option value="">Ren Type List</option>
                <option th:each="item : ${rentTypeList}" th:text="${item.nameRentType}" th:value="${item.id}"></option>
            </select>
        </div>

        <div class="form-field col-lg-6">
            <select id="choiceFacilityType" class="form-select" th:field="*{facilityType}" onchange="selectFacility()">
                <option value="">Facility List</option>
                <option th:each="item : ${facilityTypeList}" th:text="${item.nameFacilityType}" th:value="${item.id}"></option>
            </select>

        </div>
        <div class="form-field col-lg-6 " id="standardRoom" style="display: none">
            <input  class="input-text js-input" type="text" th:field="*{standardRoom}" >
            <label class="label" for="standardRoom">Standard Room</label>
        </div>

        <div class="form-field col-lg-6 "  id="poolArea" style="display: none">
            <input class="input-text js-input" type="text" th:field="*{poolArea}" >
            <label class="label" for="poolArea">Pool Area</label>
        </div>
        <div class="form-field col-lg-6 " id="descriptionConvenience" style="display: none">
            <input  class="input-text js-input" type="text" th:field="*{descriptionConvenience}" >
            <label class="label" for="descriptionConvenience">Description Other</label>
        </div>
        <div class="form-field col-lg-6" id="numberOfFloor" style="display: none">
            <input  class="input-text js-input" type="text" th:field="*{numberOfFloor}" >
            <label class="label" for="numberOfFloor">Number Of Floors</label>
        </div>
        <div class="form-field col-lg-6" id="facilityFree" style="display: none">
            <input  class="input-text js-input" type="text" th:field="*{facilityFree}" >
            <label class="label" for="facilityFree">Facility Free</label>
        </div>


        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
        <a href="/facility" class="btn btn-outline-secondary">Back home</a>
    </form>
</section>

<!--<footer id="footer" th:replace="~{style :: bootstrapBodyDiv}"></footer>-->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!--<th:block th:replace="~{style :: bootstrapFooter}"></th:block>-->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function selectFacility() {
        let getValue = $('#choiceFacilityType').val()
        switch (getValue) {
            case '1':
                $('#standardRoom').show()
                $('#descriptionConvenience').show()
                $('#poolArea').show()
                $('#numberOfFloor').show()
                $('#facilityFree').hide()
                break;
            case '2':
                $('#standardRoom').show()
                $('#descriptionConvenience').show()
                $('#poolArea').hide()
                $('#numberOfFloor').show()
                $('#facilityFree').hide()
                break;
            case '3':
                $('#standardRoom').hide()
                $('#descriptionConvenience').hide()
                $('#poolArea').hide()
                $('#numberOfFloor').hide()
                $('#facilityFree').show()
                break;
        }
    }
</script>
<!--<div th:replace=""> </div>-->
</html>