<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Remove Product</h3>
<p>
    <a th:href="@{/product}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form  th:action="@{/product/delete}" th:object="${products}"
          method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name Product</label>
            <input type="text" th:field="*{nameProduct}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="email" th:field="*{price}"/>
        </div>
        <div>
            <label>Describe</label>
            <input type="text" th:field="*{describe}"/>
        </div>
        <div>
            <label>Host Product</label>
            <input type="text" th:field="*{hostProduct}"/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
</body>
</html>