<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{html-css :: bootstrapCss}"></th:block>
</head>
<body>
<div class="container  h-100 ">
    <div class="text-center"><h1>Register</h1></div>
    <form action="/musics/create" method="post" th:object="${musicDTO}">
        <div class="mb-3 mt-3">
            <label for="nameMusic" class="form-label">Name:</label>
            <input type="text" class="form-control" id="nameMusic" placeholder="Enter firstName" name="nameMusic" th:field="*{name}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

        <div class="mb-3 mt-3">
            <label for="singer" class="form-label">Singer:</label>
            <input type="text" class="form-control" id="singer" placeholder="Enter Singer Name" name="singer" th:field="*{singer}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></div>

        <div class="mb-3 mt-3">
            <label class="form-label h6">Select list (select one):</label>
            <select class="form-select" th:field="*{category}">
                <option th:each="item : ${categoryList}"  th:value="${item.id}" th:text="${item.nameCategory}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-success">Register</button>
        <a href="/musics/" class="btn btn-outline-secondary">Reset</a>
    </form>
    <div class="alert alert-success" role="alert" th:if="${success}">
        <div th:text="${success}"></div>
    </div>
</div>
</body>
<th:block th:replace="~{html-css :: boostrapScript}"></th:block>
</html>