
<div class="container" id="card">
  <div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col-4" *ngFor="let temp of facilityList">
      <div class="card">
        <img style=" border-radius:10px"
             [src]="temp.image"
             class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{temp.name}}</h5>
          <p class="card-text">
            Diện Tích Phòng: {{temp.area}}<sup>2</sup>
          </p>
        </div>
        <div style="margin-bottom: 15px">
          <button  style="border-radius: 10px ;margin-left:15px" class="btn btn-warning">Detail</button>
          <a>
            <button routerLink="/edit/facility" style="border-radius: 10px ;margin-left: 90px" class="btn btn-warning"> Edit</button>
          </a>
          <button  style="border-radius: 10px ;margin-left: 90px" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vc_empty_space" style="height: 64px"><span class="vc_empty_space_inner"></span></div>

