<div class="container">
  <div class="row">
  </div>
  <br>
  <br>
  <div class="row">
    <h2 class="text-center my-5">Create Book</h2>
    <form [formGroup]="bookForm" (ngSubmit)="createBook()">
      <div class="container">
        <table class="table table-striped">
          <thead>
          <tr>
            <th><label>Name</label></th>
            <td><input class="form-control" type="text" formControlName="name"></td>
          </tr>
          <tr>
            <th><label>Category</label></th>
            <td><select class="form-select" formControlName="category">
              <option *ngFor="let item of categoryList" [ngValue]="item">{{item.name}}</option>
            </select></td>
          </tr>
<!--          <div *ngIf="customerForm.controls.name.hasError('required' ) && customerForm.controls.name.touched" class="text-danger">Tên Không được để trống</div>-->
<!--          <div *ngIf="customerForm.controls.name.hasError('pattern' )-->
<!--          && customerForm.controls.name.touched" class="text-danger">Viết hoa chữ cái đầu và không chứa số</div>-->
          <tr>
            <th><label>Date borrow</label></th>
            <td><input class="form-control" type="date" formControlName="dateBorrow"></td>
          </tr>
<!--          <tr>-->
<!--            <th><label>Gender</label></th>-->
<!--            <td><select class="form-select" formControlName="gender" name="gender">-->
<!--              <option [value]="'Nam'">Nam</option>-->
<!--              <option [value]="'Nữ'">Nữ</option>-->
<!--              <option [value]="'Other'">Other</option>-->
<!--            </select></td>-->
<!--          </tr>-->

          <tr>
            <th><label>Date Back</label></th>
            <td><input class="form-control" type="text" formControlName="dateBack"></td>
          </tr>
<!--          <div *ngIf="customerForm.controls.idCard.hasError('required') &&-->
<!--          customerForm.controls.idCard.touched" class="text-danger">Id Card không được để trống</div>-->
<!--          <div *ngIf="customerForm.controls.idCard.hasError('pattern') &&-->
<!--          customerForm.controls.idCard.touched" class="text-danger">9 HOặc 11 số</div>-->
          <tr>
            <th><label>Amount</label></th>
            <td><input class="form-control" type="number" formControlName="amount"></td>
          </tr>
<!--          <div *ngIf="customerForm.controls.phoneNumber.hasError('required') &&-->
<!--          customerForm.controls.phoneNumber.touched" class="text-danger">Số điện thoại không được để trống</div>-->
<!--          <div *ngIf="customerForm.controls.phoneNumber.hasError('pattern') &&-->
<!--          customerForm.controls.phoneNumber.touched" class="text-danger">SĐT bắt đầu bằng +84</div>-->
          <tr>
            <td>
              <button class="btn btn-success" [disabled]="bookForm.invalid">Save</button>
              <a class="btn btn-secondary" routerLink="/list/customer">Back</a>
            </td>
          </tr>
          </thead>
        </table>
      </div>
    </form>
  </div>
  <br>
  <br>
  <div class="row">
  </div>
</div>
